body {background-color: beige;}

table, th, td {
  border:1px solid black;
}
    th{text-align: left}

.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child1 {
    width: 40%;
    float: left;
    padding: 20px;
    border: 2px solid black;
}
.float-child2 {
    width: 40%;
    float: right;
    padding: 20px;
    border: 2px solid black;
}
